@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.charter {
  font-family: 'Charter', Georgia, serif;
  color: #E3E3E3;
}

.social_icon_container {
  background-color: black;
  border-radius: 25px;
  margin: 4px;
}

.social_icon {
  color: rgb(73, 73, 73);
  margin: 4px;
  padding: 4px;
}

.image__container::before {
  content: " "; 
  background-image: radial-gradient(circle, rgba(255, 224, 102, 1) 30%, rgba(249, 42, 6, 0.6) 70%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50%;
  filter: blur(5px);
  height: 350px; 
  left: 0;
  opacity: 0;
  position: absolute;
  top: 15%;
  transform: scale(0);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  width: 200px;
  z-index: 20;
}

.image__container:hover::before,
.image__container:active::before {
  opacity: 1; 
  transform: scale(1);
}

.image__container img {
  position: relative;
  z-index: 30;
}

.image__link {
  align-items: center;
  color: white;
  display: flex;
  font-family: Charter;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  min-height: 88px;
  min-width: 212px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 677px) {
  .mobile {
    align-items: center;
    flex-direction: column;
  }

  .image__link {
    font-size: 1rem;
    min-width: 140px;
  }

  .image__container::before {
    width: 150px;
    height: 180px;
  }
}

@media (max-width: 480px) {
  .image__container::before {
    width: 100px;
    height: 120px;
  }
}
  
