@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.charter {
  font-family: 'Charter', Georgia, serif;
  color: #E3E3E3;
}
.social_icon_container {
  background-color: black;
  border-radius: 25px;
  margin: 4px;
}

.social_icon {
  color: rgb(73, 73, 73);
  margin: 4px;
  padding: 4px;
}
